.customer-review-page{
    height: 844px;
}
.customer-review-container{
    padding: 20px 19px 0px 15px;
}
.review-card{
height: 59px;
border-radius: 10px;
background: #F3F7EA;
box-shadow: 1px 1px 2.8px 0px #00000033;
padding: 11px 7px 10px 9px;
display: flex;
margin-bottom: 6px;
}
.review-card img{
    width: 59px;
    height: 59px;
}
.custom-rview{
    display: flex;
    justify-content: space-between;
}
.custom-rview-text p{
margin: 0;
font-family: poppinsRegular;
font-size: 11px;
}
#custom-rview-title p{
   font-family: poppins;
}
#custom-rview-date{
    font-size: 10px;
}
#custom-rview-comment{
    margin: 0;
}