.home-card-section{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 14px;
padding: 0px 16px 18px 18px;
}.cards-main{
    display: flex;
}
.card-box{
position: relative;
width: 170px;
border-radius: 8px;
box-shadow: 1px 1px 2.8px 0px #00000033;
border: 0.25px solid #0000004D;
}
.card-image{
    width: 170px;
    height: 170px;
}
#fav-heart{
    position: absolute;
    top: 9px;
    right: 7px;
}
.card-image img{
    width: 100%;
}
.card-content{
    background: #F3F7EA;
    height: 68px;
    border-radius: 0px 0px 8px 8px;
    padding: 0px 0px 3px 10px;
    margin-top: -4px;
}
#card-price{
    font-family: poppins;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 7px;
}
.card-content p{
color: #3B3B3B;
}
#card-title{
font-family: poppinsRegular;
font-weight: 400;
font-size: 13px; 
padding-top: 5px;
}
.card-box p{
    margin: 0;
}
.card-ratings{
    display: flex;
    align-items: center;
    gap: 8px;
}
.card-ratings p{
    display: flex;
    justify-items: center;
    font-family: poppins-light;
font-weight: 300;
font-size: 10px;
}
@media (max-width:375px) {
    .card-box{
        width: 145px;
    }
    .card-image img{
        width: 85%;
    }
}
@media (min-width:390px) {
    .home-card-section{
        display: grid;
    grid-template-columns: repeat(2,1fr);  
    width: 390px;
    margin: auto;
  }
    .card-image img{
        width: 85%;
    }
}